In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("DEPI.db")

In [3]:
crsr=db.cursor()

In [4]:
crsr.execute("CREATE TABLE if not exists round (name text , round_id integer, startdate  date,enddate date)")
crsr.execute("CREATE TABLE if not exists track (name text , track_id integer, modules text)")
crsr.execute("CREATE TABLE if not exists city (name text , city_id integert, location text)")
crsr.execute("CREATE TABLE if not exists student (name text , student_id integer, phone text, email text , gender text, college text,round_id integer,city_id integer)")
crsr.execute("CREATE TABLE if not exists instructor (name text , instructor_id integer, salary integer)")
crsr.execute("CREATE TABLE if not exists companies (name text , company_id integer, jop_description text )")

In [5]:
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_1',1,25/10/2023,18/7/2024)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_2',2,25/10/2024,18/7/2025)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_3',3,25/10/2025,18/7/2026)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_4',4,25/10/2026,18/7/2027)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_5',5,25/10/2027,18/7/2028)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_6',6,25/10/2028,18/7/2029)")

In [6]:
crsr.execute("insert into city(name , city_id , location )values ('assiut',1,'mahmoud rashwan')")
crsr.execute("insert into city(name  , city_id , location )values ('cairo',2,'6 october')")
crsr.execute("insert into city(name  , city_id , location )values ('alexandria',3,'sidi bshr')")
crsr.execute("insert into city(name  , city_id , location )values ('almansoura',4,'eljalaa')")
crsr.execute("insert into city(name  , city_id , location )values ('elmina',5,'eldwa7i')")
crsr.execute("insert into city(name , city_id , location )values ('aswan',6,'elzouhor')")

In [7]:
crsr.execute("INSERT into track (name,track_id,modules) values ('data science',1,'python')")
crsr.execute("INSERT into track (name,track_id,modules) values ('data analysis',2,'SQL')")
crsr.execute("INSERT into track (name,track_id,modules) values ('dotnet',3,'c#')")
crsr.execute("INSERT into track (name,track_id,modules) values ('frontend',4,'HTML')")
crsr.execute("INSERT into track (name,track_id,modules) values ('backend',5,'javascript')")
crsr.execute("INSERT into track (name,track_id,modules) values ('moblile',6,'kotlin')")

In [8]:
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Mostafa',1,010,'mostafa@student','mail','eelu',2,1)")
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Haba',2,011,'haba@student','fmail','fcs',2,1)")
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Marly',3,012,'marly@student','fmail','fic',2,1)")
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Abdelaziz',4,013,'abdelaziz@student','mail','eelu',2,1)")
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Amr',5,014,'amr@student','mail','AUO',2,2)")
crsr.execute("insert into student (name,student_id,phone,email,gender,college,round_id,city_id)values('Malak',6,015,'malak@student','fmail','eelu',1,1)")

In [9]:
crsr.execute("insert into instructor (name, instructor_id , salary )values ('amjad dief',1,50000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('ahmed',2,200000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('mohammed',3,30000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('mahmoud',4,15000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('mostafa',5,12000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('amira',6,13000)")
crsr.execute("insert into instructor (name, instructor_id , salary )values ('fatma',7,17000)")

In [10]:
crsr.execute("insert into  companies(name,company_id,jop_description ) values ('Eythu',1,'Ds')")
crsr.execute("insert into  companies(name,company_id,jop_description ) values ('Mwa',2,'ccna')")
crsr.execute("insert into  companies(name,company_id,jop_description ) values ('tsssdx',3,'php')")
crsr.execute("insert into companies (name,company_id,jop_description)values('Nesxt',4,'Software')")
crsr.execute("insert into companies (name,company_id,jop_description)values('Clc',5,'.net')")
crsr.execute("insert into companies (name,company_id,jop_description)values('gloobal',6,'notjs')")

In [11]:
db.commit()

In [12]:
crsr.execute("select * from student where round_id=2 ")

In [13]:
print(crsr.fetchall())

[('Mostafa', 1, '10', 'mostafa@student', 'mail', 'eelu', 2, 1), ('Haba', 2, '11', 'haba@student', 'fmail', 'fcs', 2, 1), ('Marly', 3, '12', 'marly@student', 'fmail', 'fic', 2, 1), ('Abdelaziz', 4, '13', 'abdelaziz@student', 'mail', 'eelu', 2, 1), ('Amr', 5, '14', 'amr@student', 'mail', 'AUO', 2, 2)]

In [14]:
crsr.execute("select * from student where city_id=1")

In [15]:
print(crsr.fetchall())

[('Mostafa', 1, '10', 'mostafa@student', 'mail', 'eelu', 2, 1), ('Haba', 2, '11', 'haba@student', 'fmail', 'fcs', 2, 1), ('Marly', 3, '12', 'marly@student', 'fmail', 'fic', 2, 1), ('Abdelaziz', 4, '13', 'abdelaziz@student', 'mail', 'eelu', 2, 1), ('Malak', 6, '15', 'malak@student', 'fmail', 'eelu', 1, 1)]

In [16]:
# Count query
x=1
crsr.execute("SELECT COUNT(DISTINCT student_id) FROM student WHERE (round_id = 1 OR round_id = 2) AND city_id = 1")
count = crsr.fetchone()[0]
print(f"Count of students: {count}")

Count of students: 5