# Question & Answers based on the Employee Database

## Basics Queries

#### Query 1

List all employees' names and their hire dates:

##### Answer

In [ ]:
SELECT first_name , last_name , hire_date FROM employees

#### Query 2

Find the highest salary in the database

##### Answer

In [ ]:
SELECT max(salary) FROM salaries

#### Query 3

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

##### Answer

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date)='2000'

in SQLite we can extract the year as follow:

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '2000';

#### Query 4

Find the average salary for all employees:

##### Answer

In [ ]:
SELECT avg(salary) FROM salaries

#### Query 5

List all departments and the number of employees in each

- as a hint run the following query

In [ ]:
SELECT d.dept_name , d.dept_no, e.emp_no 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no

##### Answer

In [ ]:
SELECT d.dept_name, d.dept_no, COUNT(e.emp_no) AS EmployeeCount
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name, d.dept_no;

#### Query 6

List all employees whose first name starts with 'A'

##### Answer

In [ ]:
SELECT * FROM employees
WHERE first_name like 'A%'

#### Query 7

Find the number of employees in the 'Sales' department

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no, count(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP by d.dept_name HAVING d.dept_name='Sales'

#### Query 8

List all employees who were hired in the year 1995

##### Answer

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '1995';

to get the count of them

In [ ]:
SELECT count(*) FROM employees
WHERE strftime('%Y', hire_date) = '1995';

#### Query 9

Find the average salary of all employees

##### Answer

In [ ]:
SELECT avg(salary) FROM salaries

#### Query 10

List the top 5 highest-paid employees

- as hint you can use **LIMIT** funtion to print only the number after it.

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
ORDER BY s.salary DESC
LIMIT 5;

#### Query 11

List all employees and their department names.

##### Answer

In [ ]:
SELECT first_name,last_name,dept_name FROM employees,departments

#### Query 12

Find the number of employees in each department

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no, count(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP by d.dept_name

#### Query 13

List all employees who have never had a salary increase

##### Answer

In [ ]:
SELECT * FROM salaries
GROUP BY emp_no
HAVING count(emp_no)=1;

#### Query 14

Find the highest salary for each department.

##### Answer

In [ ]:
SELECT d.dept_name, max(s.salary) AS Max_Salary
FROM salaries s
JOIN dept_emp de ON s.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
GROUP BY d.dept_name;

#### Query 15

List all employees who have had more than one manager

##### Answer

In [ ]:
SELECT * FROM dept_emp
GROUP BY emp_no
HAVING count(emp_no)>1;

## Intermediate Queries

#### Query 1

List all employees who have been with the company for more than 15 years:

- hint 

DATEDIFF(CURDATE(), hire_date)  = > JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

In [ ]:
SELECT * FROM employees
WHERE julianday('now') - julianday(hire_date) >= 15;

in SQLite

#### Query 2

Find the highest salary paid to an employee in the 'Sales' department:

##### Answer

In [ ]:
SELECT max(salary) FROM salaries

#### Query 3

List all employees who have had more than 2 different titles:

##### Answer

In [ ]:
SELECT *,COUNT(DISTINCT title) AS title_count
FROM titles
GROUP BY emp_no
HAVING COUNT(DISTINCT title) >=2

#### Query 4

Find the average salary for female employees in the 'Engineering' department:

##### Answer

In [ ]:
SELECT avg(salary)
FROM salaries s
JOIN employees e ON s.emp_no=e.emp_no
JOIN titles t ON e.emp_no=t.emp_no
WHERE gender ='F' AND title='Engineer'

#### Query 5

List all employees who have never had a salary increase:

##### Answer

In [ ]:
SELECT * FROM salaries
GROUP BY emp_no
HAVING count(emp_no)=1;

#### Query 6

Find the average salary for female employees in the 'Sales' department.

##### Answer

In [ ]:
SELECT avg(salary)
FROM salaries s
JOIN employees e ON s.emp_no=e.emp_no
JOIN dept_emp de ON e.emp_no=de.emp_no
JOIN departments d ON de.dept_no=d.dept_no
WHERE gender ='F' AND dept_name='Sales'

#### Query 7

List all employees who have been with the company for more than 10 years

- hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

In [ ]:
SELECT * FROM employees
WHERE julianday('now') - julianday(hire_date) >= 10;

#### Query 8

Find the employee who has had the most job titles

##### Answer

In [ ]:
SELECT *,COUNT(DISTINCT title) AS title_count
FROM titles
GROUP BY emp_no
ORDER BY title_count DESC
LIMIT 1;

#### Query 9

List all employees who have worked in more than one department

##### Answer

In [ ]:
SELECT * FROM dept_emp
GROUP BY emp_no
HAVING count(emp_no)>1;

#### Query 10

Find the department with the highest average salary

##### Answer

In [ ]:
SELECT * ,avg(s.salary) AS AVG_S FROM salaries s
LEFT JOIN employees e ON s.emp_no=e.emp_no
LEFT JOIN dept_emp de ON e.emp_no=de.emp_no
LEFT JOIN departments d ON de.dept_no=d.dept_no
GROUP BY d.dept_name
HAVING avg(s.salary)
ORDER BY AVG_S DESC
LIMIT 1;

#### Query 11

List all employees who have had a salary increase of more than 10%

##### Answer

In [ ]:
SELECT * FROM employees e
JOIN salaries s1 ON e.emp_no = s1.emp_no
JOIN salaries s2 ON e.emp_no = s2.emp_no
WHERE s2.salary > 1.1 * s1.salary AND s2.from_date > s1.from_date;

## Advanced queries

#### Query 1

Find the top 10 highest-paid employees in the company

##### Answer

In [ ]:
SELECT * FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
ORDER BY s.salary DESC
LIMIT 10;

#### Query 2

List all employees who have had more than one manager:

##### Answer

In [ ]:
SELECT * FROM dept_emp
GROUP BY emp_no
HAVING count(emp_no)>1;

#### Query 3

List all departments and the average salary of their employees

##### Answer

In [ ]:
SELECT * ,avg(s.salary) AS AVG_S FROM salaries s
LEFT JOIN employees e ON s.emp_no=e.emp_no
LEFT JOIN dept_emp de ON e.emp_no=de.emp_no
LEFT JOIN departments d ON de.dept_no=d.dept_no
GROUP BY d.dept_name
HAVING avg(s.salary)