In [1]:
import sqlite3
db=sqlite3.connect("DEPI.db")
crsr=db.cursor()
crsr.execute("CREATE TABLE if not exists round (name text , round_id integer, startdate  date,enddate date)")
crsr.execute("CREATE TABLE if not exists track (name text , track_id integer, modules text)")
crsr.execute("CREATE TABLE if not exists city (name text , city_id integert, location text)")
crsr.execute("CREATE TABLE if not exists student (name text , student_id integer, phone text, email text , gender text, college text)")
crsr.execute("CREATE TABLE if not exists instructor (name text , instructor_id integer, salary integer)")
crsr.execute("CREATE TABLE if not exists companies (name text , company_id integer, jop_description text )")
db.commit()

In [7]:
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_1',1,25/10/2023,18/7/2024)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_2',2,25/10/2024,18/7/2025)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_3',3,25/10/2025,18/7/2026)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_4',4,25/10/2026,18/7/2027)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_5',5,25/10/2027,18/7/2028)")
crsr.execute("insert into round(name,round_id,startdate,enddate) values('Round_6',6,25/10/2028,18/7/2029)")

In [8]:
crsr.execute("insert into city(name , city_id , location )values ('assiut',1,'mahmoud rashwan')")
crsr.execute("insert into city(name  , city_id , location )values ('cairo',2,'6 october')")
crsr.execute("insert into city(name  , city_id , location )values ('alexandria',3,'sidi bshr')")
crsr.execute("insert into city(name  , city_id , location )values ('almansoura',4,'eljalaa')")
crsr.execute("insert into city(name  , city_id , location )values ('elmina',5,'eldwa7i')")
crsr.execute("insert into city(name , city_id , location )values ('aswan',6,'elzouhor')")

In [9]:
crsr.execute("INSERT into track (name,track_id,modules) values ('data science',1,'python')")
crsr.execute("INSERT into track (name,track_id,modules) values ('data analysis',2,'SQL')")
crsr.execute("INSERT into track (name,track_id,modules) values ('dotnet',3,'c#')")
crsr.execute("INSERT into track (name,track_id,modules) values ('frontend',4,'HTML')")
crsr.execute("INSERT into track (name,track_id,modules) values ('backend',5,'javascript')")
crsr.execute("INSERT into track (name,track_id,modules) values ('moblile',6,'kotlin')")

In [14]:
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Mostafa',1,010,'mostafa@student','mail','eelu')")
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Haba',2,011,'haba@student','fmail','fcs')")
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Marly',3,012,'marly@student','fmail','fic')")
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Abdelaziz',4,013,'abdelaziz@student','mail','eelu')")
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Amr',5,014,'amr@student','mail','AUO')")
crsr.execute("insert into student (name,student_id,phone,email,gender,college)values('Malak',6,015,'malak@student','fmail','eelu')")

In [13]:
db.commit()