# **Arithmetic**

In [2]:
num1=float(input("Enter the first number: "))
num2=float(input("Enter the Second number: "))

In [3]:
sum=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
floor=num1//num2
mod=num1%num2
power=num1**num2
print(f"Sumation ={sum}")
print(f"Subtraction={sub}")
print(f"Multiplication={mul}")
print(f"division={div}")
print(f"FLoor={floor}")
print(f"modulus={mod}")
print(f"Exponent={power}")

Sumation =11.0
Subtraction=-1.0
Multiplication=30.0
division=0.8333333333333334
FLoor=0.0
modulus=5.0
Exponent=15625.0

# **Comparison**

In [4]:
x=num2>num1
y=num2<num1
z=num1==num2
a=num2>=num1
b=num2<=num1
c=num2!=num1
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)

True
False
False
True
False
True

# **Logical**

In [5]:
x=num2 and num1
y=num2 or num1
z=not num1
print(x)
print(y)
print(z)

5.0
6.0
False

# **Bitwise**

In [8]:
num1=int(num1)
num2=int(num2)

In [10]:
x=num1 & num2
y=num1 | num2
z=~num2
a=num1^num2
b=num1>>num2
c=num1<<num2
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)

4
7
-7
3
0
320

# **Assignment**

In [12]:
num1 +=int(input("Please Enter Number :"))

In [13]:
print(num1)

11

In [14]:
num2 &=int(input("Please Enter Number :"))

In [15]:
print(num2)

4

# **Identity**

In [16]:
x=num1 is num2
y=num1 is not num2
print(x)
print(y)

False
True

# **Membership**

In [17]:
list1=["a","n","s"]
list2=["a","n","u"]

In [18]:
x="s" in list1
y="s" in list2
print(x)
print(y)

True
False

# list

In [28]:
list=[5,1,2,3,4,4]
print(list)
#moutable
list[0]=3
print(list)
list.append(10)
print(list)
list.insert(0,"zezoo")
print(list)
list.remove("zezoo")
print(list)
list.pop()
print(list)
list3=list.copy()
print(list3)
list.clear()
print(list)
list_4=[1,2,3,4,5]
print(list_4.count(4))
print(list_4.index(4))
x=list_4.extend("m")
y=list_4.reverse()
print(x)
print(y)
print(list_4[:-1])
print(list_4[:4:2])

[5, 1, 2, 3, 4, 4]
[3, 1, 2, 3, 4, 4]
[3, 1, 2, 3, 4, 4, 10]
['zezoo', 3, 1, 2, 3, 4, 4, 10]
[3, 1, 2, 3, 4, 4, 10]
[3, 1, 2, 3, 4, 4]
[3, 1, 2, 3, 4, 4]
[]
1
3
None
None
['m', 5, 4, 3, 2]
['m', 4]

# TuPle

In [26]:
tpl=(1,2,3,4,"zezoo")
tpl2=(4,6,8,9)
tpl3=tpl+tpl2
tpl4=tpl3*2
print(tpl3)
print(tpl4)
count=len(tpl)
print(count)
print(tpl[1:3])
print(tpl.index(2))
print(tpl.count(4))
"""
not moutable
tpl[0]=10
print(tpl)
"""

(1, 2, 3, 4, 'zezoo', 4, 6, 8, 9)
(1, 2, 3, 4, 'zezoo', 4, 6, 8, 9, 1, 2, 3, 4, 'zezoo', 4, 6, 8, 9)
5
(2, 3)
1
1

'\nnot moutable\ntpl[0]=10\nprint(tpl)\n'

# Set

In [29]:
st={1,2,3,4}
print(type(st))
count=len(st)
print(count)
st.add("zezoo")
print(st)
st.remove(3)
print(st)
st.update({7,5})
print(st)
st2={9,10,24,5}
union=st|st2
print(union)
print(st.intersection(st2))
print(st.clear())
"""not mutable
st[0]=10
print(st)"""

<class 'set'>
4
{1, 2, 3, 4, 'zezoo'}
{1, 2, 4, 'zezoo'}
{1, 2, 4, 5, 7, 'zezoo'}
{1, 2, 4, 5, 7, 9, 10, 24, 'zezoo'}
{5}
None

'not mutable\nst[0]=10\nprint(st)'

# Dictionarie

In [33]:
dct={"name":"zezoo","age":"19"}
print(type(dct))
dct["salary"]="1000"
print(dct)
del dct["salary"]
print(dct)
print(dct.keys())
print(dct.values())

<class 'dict'>
{'name': 'zezoo', 'age': '19', 'salary': '1000'}
{'name': 'zezoo', 'age': '19'}
dict_keys(['name', 'age'])
dict_values(['zezoo', '19'])

# Task

In [1]:
list=input("Enter value :").split(" ")
tplu=tuple(list)
print(f"The List is : {list} \n The Tuple is : {tplu}")

The List is : ['50', '66', '10']
 The Tuple is : ('50', '66', '10')